* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 65px;
    background-color: lightgreen;
    color: aliceblue;
    padding: 1em;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}


.nueva {
    padding: 1em;
    background-color:rgb(245, 205, 243);
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: top;
    text-align: center;
    padding-inline: 4em;
}

.btn-add{
    background-color: cadetblue;
    border: none;
    padding-block: 5px;
    border-radius: 5px;
    margin-top: 10px;
}


.tareas {
    padding: 1em;
    background-color: darksalmon;
    display: flex;
    flex-direction: column;
    width: 55%;
    justify-content: center;
    text-align: left;
   
}

.buscador{
    margin-bottom:10px;
}

.chek {
    color: blue;
    list-style: none;
    line-height: 3em;
}

.btn-buscar{
    background-color: cadetblue;
    border: none;
    padding-block: 5px;
    padding-inline: 15px;
    border-radius: 5px;
    margin-top: 10px;
}